# Configuration file for fprettify.
# run fprettify with the following command:
# fprettify --config-file .fprettify.rc .

# relative indentation width (default: 3)
indent                = 4

# strictly impose indentation even for nested loops (default: False)
strict-indent         = true

# don't impose indentation (default: False)
disable-indent        = false

# Disables the indentation after module / program. (default: False)
disable-indent-mod    = false

# column after which a line should end, viz. -ffree-line-length-n for GCC (default: 132)
line-length           = 1000

# Presets for the amount of whitespace - 0: minimal whitespace | 1: operators (except arithmetic), print/read | 2: operators, print/read, plus/minus | 3: operators, print/read, plus/minus, muliply/divide | 4: operators, print/read, plus/minus, muliply/divide, type component selector (default: 2)
whitespace            = 3

# boolean, en-/disable whitespace for comma/semicolons (default: None)
whitespace-comma      = true

# boolean, en-/disable whitespace for assignments (default: None)
whitespace-assignment = true

# boolean, en-/disable whitespace for declarations (requires '--enable-decl') (default: None)
whitespace-decl       = true

# boolean, en-/disable whitespace for relational operators (default: None)
whitespace-relational = true

# boolean, en-/disable whitespace for logical operators (default: None)
whitespace-logical    = true

# boolean, en-/disable whitespace for plus/minus arithmetic (default: None)
whitespace-plusminus  = false

# boolean, en-/disable whitespace for multiply/divide arithmetic (default: None)
whitespace-multdiv    = false

# boolean, en-/disable whitespace for print/read statements (default: None)
whitespace-print      = false

# boolean, en-/disable whitespace for select type components (default: None)
whitespace-type       = false

# boolean, en-/disable whitespace for intrinsics like if/write/close (default: None)
whitespace-intrinsics = true

# enable whitespace formatting of declarations ('::' operator). (default: False)
enable-decl           = true

# don't impose whitespace formatting (default: False)
disable-whitespace    = false

# replace relational operators (e.g. '.lt.' <--> '<') (default: False)
enable-replacements   = true

# C-style relational operators ('<', '<=', ...) (default: False)
c-relations           = true

# Letter case formatting (intrinsics, procedures/modules, operators, constants)
# 0: do nothing | 1: lowercase | 2: uppercase (default: [0, 0, 0, 0])
case                  = [1, 1, 1, 1]

# strip whitespaces before comments (default: False)
strip-comments        = true

# Disables the indentation of fypp preprocessor blocks. (default: False)
disable-fypp          = false

# Write file differences to stdout instead of formatting inplace (default: False)
diff                  = false

# Write to stdout instead of formatting inplace (default: False)
stdout                = false

# Don't write any errors or warnings to stderr (default: False)
silent                = false

# Recursively auto-format all Fortran files in subdirectories of specified path; recognized filename extensions: .f, .for, .ftn, .f90, .f95, .f03, .fpp, .F, .FOR, .FTN, .F90, .F95, .F03, .FPP (default: False)
recursive             = true

# File or directory patterns to be excluded when searching for Fortran files to format (default: [])
exclude               = ["./build/*", "./doc/*"]

# Overrides default fortran extensions recognized by --recursive. Repeat this option to specify more than one extension. (default: [])
fortran               = []