name       = "forcad"
version    = "0.4.1"
license    = "BSD 3-Clause License"
author     = "Seyed Ali Ghasemi"
maintainer = "info@gha3mi.com"
copyright  = "Copyright 2024, Seyed Ali Ghasemi"
categories = ["graphics"]
keywords   = ["Fortran", "CAD","NURBS", "b-spline","bezier","rational bezier","geometry"]

[build]
auto-executables = false
auto-tests       = true
auto-examples    = false
module-naming    = false

[install]
library = true

[fortran]
implicit-typing   = false
implicit-external = false
source-form       = "free"

[dependencies]
forimage    = {git="https://github.com/gha3mi/forimage.git"}
forcolormap = {git="https://github.com/vmagnin/forcolormap.git"}
fortime     = {git="https://github.com/gha3mi/fortime.git"}
openmp      = "*"

[dev-dependencies]
forunittest = {git="https://github.com/gha3mi/forunittest"}

[[example]]
name       = "demo_curve"
source-dir = "example"
main       = "demo_curve.f90"

[[example]]
name       = "demo_surface"
source-dir = "example"
main       = "demo_surface.f90"

[[example]]
name       = "demo_volume"
source-dir = "example"
main       = "demo_volume.f90"

[[example]]
name       = "logo"
source-dir = "logo"
main       = "logo.f90"

[[example]]
name       = "example_curve_1"
source-dir = "example"
main       = "example_curve_1.f90"

[[example]]
name       = "example_surface_1"
source-dir = "example"
main       = "example_surface_1.f90"

[[example]]
name       = "example_volume_1"
source-dir = "example"
main       = "example_volume_1.f90"

[[example]]
name       = "shape_hexahedron"
source-dir = "example"
main       = "shape_hexahedron.f90"

[[example]]
name       = "shape_circle"
source-dir = "example"
main       = "shape_circle.f90"

[[example]]
name       = "shape_half_circle"
source-dir = "example"
main       = "shape_half_circle.f90"

[[example]]
name       = "shape_C_1d"
source-dir = "example"
main       = "shape_C_1d.f90"

[[example]]
name       = "shape_C_2d"
source-dir = "example"
main       = "shape_C_2d.f90"

[[example]]
name       = "shape_C_3d"
source-dir = "example"
main       = "shape_C_3d.f90"

[[example]]
name       = "shape_tetragon"
source-dir = "example"
main       = "shape_tetragon.f90"

[[example]]
name       = "shape_ring_2d"
source-dir = "example"
main       = "shape_ring_2d.f90"

[[example]]
name       = "shape_ring_3d"
source-dir = "example"
main       = "shape_ring_3d.f90"

[[example]]
name       = "shape_half_ring_2d"
source-dir = "example"
main       = "shape_half_ring_2d.f90"

[[example]]
name       = "shape_half_ring_3d"
source-dir = "example"
main       = "shape_half_ring_3d.f90"

[[example]]
name       = "put_to_nurbs"
source-dir = "example"
main       = "put_to_nurbs.f90"

[[example]]
name       = "example_ppm1"
source-dir = "example"
main       = "example_ppm1.f90"

[[example]]
name       = "example_ppm2"
source-dir = "example"
main       = "example_ppm2.f90"

[[example]]
name       = "example_ppm3"
source-dir = "example"
main       = "example_ppm3.f90"

[[example]]
name       = "nearest_point_1d"
source-dir = "example"
main       = "nearest_point_1d.f90"

[[example]]
name       = "nearest_point_2d"
source-dir = "example"
main       = "nearest_point_2d.f90"

[[example]]
name       = "nearest_point_3d"
source-dir = "example"
main       = "nearest_point_3d.f90"